<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="text-center pt-20 text-3xl font-semibold text-gray-800 lg:text-4xl"
    >
      Our Products
    </div>
    <div
      class="mt-12 grid grid-cols-1 sm:grid-cols-3 lg-grid-cols-3 gap-8 mx-10 md:gap-x-10 md:mx-10"
    >
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/YCBsQL9y/IMG-20230129-WA0015.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Resort Tent
          </h2>
          <a
            href="/individual"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/Dz3mkTgM/IMG-20230129-WA0009.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Gazibo Tent
          </h2>
          <a
            href="/gazebo"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/8CdBfDP2/IMG-20230129-WA0020.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Hanging Tent
          </h2>
          <a
            href="/hangingtent"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/k5K5Ws8R/24dbe4a1-6028-4fd6-8034-b27a23b8f0a3.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Car Parking
          </h2>
          <a
            href="/carparking"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/hPbd0Mqm/IMG-20230129-WA0030.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Customize Tent
          </h2>
          <a
            href="/customizetent"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/8PP1qb6M/IMG-20230129-WA0021.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Swimming Pool Covering
          </h2>
          <a
            href="/swimmingpool"
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/4x9jMKBp/IMG-20230129-WA0032.jpg');
          background-position: center;
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Best website collections
          </h2>
          <a
            href=""
            class="mt-2 text-lg tracking-wider text-blue-400 uppercase"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        class="overflow-hidden bg-cover rounded-lg cursor-pointer h-64 group"
        style="
          background-image: url('https://i.postimg.cc/HnNPvHMS/IMG-20230129-WA0028.jpg');
        "
      >
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
        >
          <h2 class="mt-4 text-xl font-semibold text-white capitalize">
            Walk Way Covering Shed
          </h2>
          <p class="mt-2 text-lg tracking-wider text-blue-400 uppercase">
            Learn More
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
